
h1 {
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    cursor: default;
    margin-top: 15px;
    margin-bottom: 5px;
}

.actions-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.exercise {
    color: #ff4081;
}